<p align="center" style="color:#038CBF">Herolo Library </p>
<form>  
  <div class="example-container mat-elevation-z8">

  <md-table *ngIf="books != undefined && books.length > 0" #table [dataSource]="dataSource">
    <ng-container mdColumnDef="title">
      <md-header-cell *mdHeaderCellDef> Tiltle </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.title}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="autur">
      <md-header-cell *mdHeaderCellDef> Autur </md-header-cell>
      <md-cell  *mdCellDef="let row"> {{row.autur}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="date">
      <md-header-cell *mdHeaderCellDef> Date </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.date}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="edit">
      <md-header-cell *mdHeaderCellDef> Edit </md-header-cell>
      <md-cell *mdCellDef="let row"> 
        <div class="button-row">
            <button md-icon-button (click)="openEditDialog(row.title)">
              <md-icon class="md-24" aria-label="edit-book">mode edit</md-icon>
            </button>
        </div>
      </md-cell>
    </ng-container>

    <ng-container mdColumnDef="remove">
      <md-header-cell *mdHeaderCellDef> Remove </md-header-cell>
      <md-cell *mdCellDef="let row"> 
        <div class="button-row">
            <button md-icon-button (click)="openRemoveDialog(row.title)">
              <md-icon class="md-24" aria-label="edit-book">mode delete</md-icon>
            </button>
        </div>
      </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

  <md-paginator  
                [length]="size"
                [pageIndex]="0"
                [pageSize]="25"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>
</div>
</form>
<div class="button-row">
  <button md-raised-button (click)="openAddDialog()">Add Book</button>
</div>
